<ul class="messages-list">
                <% data.forEach((item) => { %>
                    <li class="card">
                        <div >
                            <div class="card-header">
                                <div class="avatar-placeholder" style="background-color: rgba(<%=item.color %>)"><%= item.username[0] %></div>
                                 <div class="card-header-text-wrapper">
                                    <h2><%= item.username %></h2>
                                    <time class="text date" datetime="<%= item.added.toLocaleDateString("sv-SE") %>"><%= item.added.toLocaleDateString("sv-SE") %></time>
                                </div>
                            </div>
                             <div class="text-wrapper"> 
                                <p class="text"><%= item.text %></p>
                            </div>
                        </div>
                    </li>
                <% }) %>
    
</ul>
